<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common_mapper">

	<!-- 코드 목록 -->
	<select id="codeSelList" resultType="co.junecheol.dto.CodeSelDTO" parameterType="co.junecheol.dto.CodeSelDTO">
		SELECT * 
		FROM public.fn_code_sellist(
			#{PARENT_IDX},
			#{CODE_ID},
			#{CODE_NM})
	</select>

</mapper>