<!DOCTYPE html>
<html lang="en">
<head>
	<title>준철 포트폴리오</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate">
	<link href="/resources/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="/images/launcher/48.png" rel="shortcut icon" type="image/png">
	<link href="/images/launcher/48.png" rel="icon" type="image/png">
	<link href="/images/launcher/144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="/images/launcher/152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="/images/launcher/167.png" rel="apple-touch-icon" sizes="167x167">
	<link href="/images/launcher/180.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/manifest.webmanifest" rel="manifest">
	<!-- css -->
	<link href="/resources/css/common.css?ver=20230330103500000" rel="stylesheet">
	<!-- font-->
	<link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
	<!-- head 파일 -->
	<link href="/resources/css/default.css?ver=20250525103500000" rel="stylesheet">
</head>
<body>
    <!--// loading -->
    <section class="loading-layer">
	    <div class="loadingBg"></div>
	    <div class="loadingImg"><img src="/resources/images/loading.png" alt="로딩중..." /></div>
    </section>
    <!-- loading //-->

	<section class="loginCont">
	    <section class="loginBG">
			<p>모든지<br /><span class="ftBold colPoint">다 해결하는<br /> 박준철</span>입니다 </p>
	    </section>
	    <section id="login">
	        <section>
	            <img src="/resources/images/login/logo.png" alt="junecheol">
	            <p>LOGIN</p>
	            <input class="mgB20" name="txtID" type="text" maxlength="100" id="txtID" placeholder="아이디를 입력해주세요." value="">
	            <input class="mgB20" name="txtPW" type="password" maxlength="100" id="txtPW" placeholder="비밀번호를 입력해주세요." value="">
	            <div class="pdTB20">
		            <input type="checkbox" id="chkAutoLogin" placeholder="자동 로그인을 원할 경우 체크해 주세요.">
		            <label for="chkAutoLogin"></label>	                
	            </div>
	            <a href="/WEB-INF/views/system/system_02.html" id="btnLogin" class="loginBtn" >로그인</a>
	            <!-- <a href="#login" id="btnLogin" class="loginBtn">로그인</a> -->
	        </section>
	    </section>
	</section>

</body>
</html>
