<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>

        <RollingFile name="rollingFile">
            <FileName>C:\\Users\\\uBC15\uC900\uCCA0\\Desktop\\\uAC1C\uBC1C\\java\\junecheol\\junecheol_log\\all.log</FileName>
            <FilePattern>C:\\Users\\\uBC15\uC900\uCCA0\\Desktop\\\uAC1C\uBC1C\\java\\junecheol\\junecheol_log\\%d{yyyy}\\%d{yyyyMM}\\all_%d{yyyy-MM-dd}_%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" />
        </RollingFile>

        <RollingFile name="rollingFileError">
            <FileName>C:\\Users\\\uBC15\uC900\uCCA0\\Desktop\\\uAC1C\uBC1C\\java\\junecheol\\junecheol_log\\error.log</FileName>
            <FilePattern>C:\\Users\\\uBC15\uC900\uCCA0\\Desktop\\\uAC1C\uBC1C\\java\\junecheol\\junecheol_log\\%d{yyyy}\\%d{yyyyMM}\\error_%d{yyyy-MM-dd}_%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" />
        </RollingFile>

        <RollingFile name="officialBookFile">
            <FileName>C:\\Users\\\uBC15\uC900\uCCA0\\Desktop\\\uAC1C\uBC1C\\java\\junecheol\\junecheol_log\\official.log</FileName>
            <FilePattern>C:\\Users\\\uBC15\uC900\uCCA0\\Desktop\\\uAC1C\uBC1C\\java\\junecheol\\junecheol_log\\%d{yyyy}\\%d{yyyyMM}\\official_%d{yyyy-MM-dd}_%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="rollingFileError" level="ERROR"/>
        </Root>

        <Logger name="com.junechuol.admin.OfficialBook" level="debug" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="officialBookFile"/>
        </Logger>

        <Logger name="com.junechuol.admin.Scheduler" level="debug" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="officialBookFile"/>
        </Logger>
    </Loggers>
</configuration>