<!DOCTYPE html>
<html lang="en">
<head>
	<!-- head -->
	<style>
    	#codeManagement{display: grid; margin-top: 15px; grid-template-columns: 1fr 1fr 1fr;}
        #codeManagement > section{padding:15px; margin-right: 10px; }
        #codeManagement > section:last-child{margin-right: 0;}
    </style>
</head>
<body>
	<!-- top -->
     <!--// loading -->
    <section class="loading-layer">
	    <div class="loadingBg"></div>
	    <div class="loadingImg"><img src="/resources/images/loading.svg" alt="로딩중..." /></div>
    </section>
    <!-- loading //-->

    <!-- 상단 메뉴 -->
    <section class="topMenu">
        <div class="logo"><h1><a href="/index"><img src="/resources/images/index/logo.png" alt="junecheol"></a></h1></div>
        <div class="menuList">
            <ul id="menuTop">
            </ul>
            <div id="menuAll">
            </div>            
        </div>        
        <div class="userInfo">
			<a href="#noti" ><img id="imgNoti" src="/resources/images/index/bell.png" alt="알림" style="width: 24px;"></a>
			<!-- <a href="#"><img src="/resources/images/icon/ic_refresh.png" alt="새로고침"></a> -->
			<div id="notiCntView" style="display: none;">
				<ul>
					<li><a href="/schedule/01"><p>휴가 미승인</p><p class="txtR"><span id="lblSignCnt">0</span>건</p></a></li>
					<li><a href="/report/01"><p>유지보수 접수</p><p class="txtR"><span id="lblMaintCnt">0</span>건</p></a></li>
					<li><a href="/clipboard/01"><p>신규 공지사항</p><p class="txtR"><span id="lblNotiCnt">0</span>건</p></a></li>
				</ul>
			</div>
            <div class="user">
                <a href="#user" >
                    <img src="/resources/images/profile/s_profile_01.png" id="userCharacterS" alt="userImg" onerror="this.src='/resources/images/profile/s_profile_01.png';">
                    <span><span id="logNM" class="colWhite">&nbsp;</span><br><span id="logDept" class="colGray3 ftSize12">&nbsp;</span></span>                        
                </a>
            </div>
        </div>
        <!-- .userInfo 클릭 시 오픈 -->
        <div id="popUserInfo" class="shadowBox">
            <a href="#popclose" class="btn-layerClose"  ><img src="/resources/images/btn/btn_popclose.png" alt="닫기"></a>
            <div class="popInfoTop">
                <img src="/resources/images/common/no_Image.jpg" alt="유저" id="userCharacter" onerror="this.src='/resources/images/common/no_Image.jpg';">
                <!-- 관리자 뱃지 관리자만 노출 -->
                <span id="managerBadge" style="display:none;"><!-- 권한 --></span>
                <p id="userName">
                    <span id="popLogNm" class="ftBold ftSize18 mgB5"><!-- 성명 --></span>
                    <span id="popLogDept"class="colGray2"><!-- 부서 --></span>
                </p>
            </div>
            <div class="popInfoCont">
                <div id="popMyLink">
                    <a href="/mypage/01"><img src="/resources/images/icon/ic_pcon_1.svg" alt="마이페이지">&nbsp;마이페이지</a>
                    <!-- <a href="#qr" ><img src="/resources/images/icon/ic_pcon_2.png" alt="QR 다운로드">&nbsp;QR 다운로드</a> -->
                </div>
                <div id="popMyInfo">
                    <ul>                        
                        <!--로그아웃 버튼-->
                        <li>
                            <a href="/login/logout" class="colRed" onclick="if(!confirm('로그아웃하시겠습니까?')) return false;">
                            <img src="/resources/images/icon/ic_logout.png" alt="로그아웃" >
                            &nbsp;로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
    </section>
	<!-- left -->
    <section class="leftMenu">
        <div class="leftBox"><img src="/resources/images/btn/btn_leftmenu_close.png" alt="대메뉴"></div>
        <section class="lmTop">
            <p id="pageNavi" class="ftSize20 ftBold mgB10">
                &nbsp;&nbsp;<!-- <span class="ftNormal colGray2">중메뉴</span> -->
            </p>
            <div id="leftTop">
                <div id="leftTopRpt01" class="leftTopConts">
                    <div class="ucTable">
                        <div>
                            <p>
                                <!-- <span class="colGray2">MD</span> -->
                                <span class="colGray2">예상:</span>
                                <strong id="lblRpt01EMD">0</strong>
                            </p>
                        </div>
                        <div>
                            <p>
                                <span class="colGray2">처리:</span>
                                <strong id="lblRpt01CMD">0</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 회의록  -->
                <div id="leftTopRpt02" class="leftTopConts">
                    <div class="ucTable">
                        <a href="#inp" class="btn btn100 btnPoint" >저장</a>
                        <a href="#inp" class="btn btn100 btnRed mgT10" onclick="fnattendeesDelete(2); return false;">삭제</a>
                    </div>
                </div>
    
                <div id="leftTopRpt03" class="leftTopConts">
                    <div class="ucTable">
                        <a href="/report/03/write" class="btn btn100 btnPoint">등록</a>
                    </div>
                </div>
                <!-- 사내일정 -->
                <div id="leftTopRpt04" class="leftTopConts">
                    <div class="ucTable">
                        <a href="#reg" class="btn btn100 btnPoint" >등록</a>
                    </div>
                </div>
                <div id="leftTopRpt05" class="leftTopConts">
                    <div class="ucTable">
                        <a href="#reg" class="btn btn100 btnPoint" id="inputBtn">등록</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="lmMenu">
            <h3><img src="/resources/images/sub/leftMenu_icon_01.png" alt="대메뉴">&nbsp;&nbsp;<span
                    id="leftMenuTop"><!-- 대메뉴 --></span></h3>
            <ul id="leftMenuList">
                <li><a href="#link">&nbsp;</a></li>
                <!-- class="lmChoice" -->
            </ul>
        </section>
        <footer>copyright © RYSOFT. All Rights Reserved.</footer>
    </section>
	<!-- 컨텐츠 -->
	<section id="codeManagement">
                <section class="shadowBox">
                    <section class="">
                        <div class="tableTitle pdB10">
                            <p class="ftBold">&nbsp;대분류</p>
                        </div>
                        <div>
                            <div class="DivScrollY AllBorder" style="height:500px;">
                                <table class="tableList" id="CateList1">
                                    <colgroup>
                                        <col style="width: 20%">
                                        <col style="width: 60%">
                                        <col style="width: 20%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>코드</th>
                                            <th>코드명</th>
                                            <th>상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <!-- <%-- list값이 있다면 --%> -->
                                    <c:if test="${list.size() == 0}">
                                    	<tr><td colspan="4" class="colGray2 ftSize12">검색된 내용이 없습니다.</td></tr>
                                    </c:if>
                                    <c:if test="${list.size() > 0}">
                                    	<c:forEach var="list" items="${list}">
                                    		<tr data-idx="${list.CODE_IDX}">
	                                            <td>${list.CODE_IDX}</td>
	                                            <td><a href="#view">${list.CODE_NM}</a></td>
	                                          
	                                            <!-- <%-- STS(상태)가 1이 아니면 미사용 --%> -->
	                                            <c:if test="${list.CODE_STS eq 1}">
	                                            	<td>사용</td>
	                                            </c:if>
	                                            <c:if test="${list.CODE_STS ne 1}">
	                                            	<td>미사용</td>
	                                            </c:if>
	                                            
                                        	</tr>
                                    	</c:forEach>
                                    </c:if>
                                  
                                    </tbody>
                                </table>
                            </div>
                            <div class="pdT10">
                                <table class="tableView">
                                    <colgroup>
                                        <col style="width: 20%">
                                        <col style="width: 30%">
                                        <col style="width: 20%">
                                        <col style="width: 30%">
                                    </colgroup>
                                    <tbody><tr>
                                        <th>코드명</th>
                                        <td colspan="3">
                                        	<input type="text" id="CateName1" name="CateName1" maxlength="50">
                                        	<input type="hidden" id="CateIdx1" name="CateIdx1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>코드</th>
                                        <td colspan="3">
                                            <input type="text" id="CateCode1" name="CateCode1" >
                                            <input type="hidden" id="CateSort1" name="CateSort1" value="3">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>사용 여부</th>
                                        <td colspan="3">
                                            <label><input type="radio" name="CateUse1" value="1" checked="checked"> 사용</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label><input type="radio" name="CateUse1" value="0"> 미사용</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="pdT10 btnRight">
                                <a href="#save" onclick="fnCodeInput(1); return false;" id="btnSave1" class="btn btnPoint">추가</a>
                                <a href="#cancel" onclick="fnCancel(1)" class="btn btnWhite">취소</a>
                            </div>
                        </div>
                    </section>
                </section>
                <section class="shadowBox">
                            <section>
                                <div class="tableTitle">
                                    <p class="ftBold pdB10">&nbsp;중분류</p>             
                                </div>
                                <div class="DivScrollY AllBorder" style="height:500px;">
                                    <table class="tableList" id="CateList2">
                                        <colgroup>
                                            <col style="width: 20%">
                                            <col style="width: 60%">
                                            <col style="width: 20%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>코드</th>
                                                <th>코드명</th>
                                                <th>상태</th>
                                                <th> <!--순위 변경--> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr><td colspan="4" class="colGray2 ftSize12">대분류를 선택해 주세요.</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pdT10">
                                    <table class="tableView">
                                    <colgroup>
                                        <col style="width: 20%">
                                        <col style="width: 30%">
                                        <col style="width: 20%">
                                        <col style="width: 30%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>코드명</th>
                                            <td colspan="3">
                                            	<input type="text" id="CateName2" name="CateName2" maxlength="50">
                                            	<input type="hidden" id="CateIdx2" name="CateIdx2">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>코드</th>
                                            <td colspan="3"><input type="text" id="CateCode2" name="CateCode2" ></td>
                                            <!-- <th>정렬</th> -->
                                            <input type="hidden" id="CateSort2" name="CateSort2" maxlength="2">
                                        </tr>
                                        <tr>
                                            <th>사용 여부</th>
                                            <td colspan="3">
                                                <label><input type="radio" name="CateUse2" value="1" checked="checked"> 사용</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label><input type="radio" name="CateUse2" value="0"> 미사용</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="pdT10 btnRight">
                                    <a href="#save" onclick="fnCodeInput(2); return false;" id="btnSave2" class="btn btnPoint">추가</a>
                                    <a href="#cancel" onclick="fnCancel(2)" class="btn btnWhite">취소</a>
                                </div>
                                </div>
                            </section>
                </section>
                <section class="shadowBox">
                            <section class="tableBody">
                                <div class="tableTitle">
                                    <p class="ftBold pdB10">&nbsp;소분류</p>             
                                </div>
                                <div class="tableBox">
                                    <div class="DivScrollY AllBorder" style="height:500px;">
                                        <table class="tableList" id="CateList3">
                                            <colgroup>
                                                <col style="width: 20%">
                                                <col style="width: 60%">
                                                <col style="width: 20%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>코드</th>
                                                    <th>코드명</th>
                                                    <th>상태</th>
                                                    <th> <!--순위 변경--> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td colspan="4" class="colGray2 ftSize12">중분류를 선택해 주세요.</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="pdT10">
                                        <table class="tableView">
                                        <colgroup>
                                            <col style="width: 20%">
                                            <col style="width: 30%">
                                            <col style="width: 20%">
                                            <col style="width: 30%">
                                        </colgroup>
                                        <tbody><tr>
                                            <th>코드명</th>
                                            <td colspan="3">
                                           		<input type="text" id="CateName3" name="CateName3" maxlength="50">
                                           		<input type="hidden" id="CateIdx3" name="CateIdx3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>코드</th>
                                            <td colspan="3"><input type="text" id="CateCode3" name="CateCode3" ></td>
                                            <!-- <th>정렬</th> -->
                                            <input type="hidden" id="CateSort3" name="CateSort3" maxlength="2">
                                        </tr>
                                        <tr>
                                            <th>사용 여부</th>
                                            <td colspan="3">
                                                <label><input type="radio" name="CateUse3" value="1" checked="checked"> 사용</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label><input type="radio" name="CateUse3" value="0"> 미사용</label>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                    </div>
                                    <div class="pdT10 btnRight">
                                        <a href="#save" onclick="fnCodeInput(3); return false;" id="btnSave3" class="btn btnPoint">추가</a>
                                        <a href="#cancel" onclick="fnCancel(3)" class="btn btnWhite">취소</a>
                                    </div>
                                </div>
                            </section>
                </section>
            </section>
	<!-- footer -->
</body>
</html>	